@font-face {
  font-family: "BRANCH";
  src: url("./fonts/BRANCH.ttf");
}
@font-face {
  font-family: "futura";
  src: url("./fonts/futura.otf");
}
@font-face {
  font-family: "uni_heavy";
  src: url("./fonts/uni_heavy.otf");
}
@font-face {
  font-family: "GOTHIC";
  src: url("./fonts/GOTHIC.TTF");
}
@font-face {
  font-family: "GOTHICB";
  src: url("./fonts/GOTHICB.TTF");
}
@font-face {
  font-family: "ANTQUAI";
  src: url("./fonts/ANTQUAI.TTF");
}

$primary: #9f8768;
$red: #960000;

:root {
  background-color: black;
  margin: 0;
}
body {
  margin: 0;
  padding-top: 150px;
  background-color: black;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100dvh;
}

.MuiDrawer-anchorRight * {
  padding: 10px;
}

$toolbarFontSize: 3.5rem;

#toolbar {
  background: white;
  top: 0;
  z-index: 1001;
  position: fixed;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 50px black;

  #toolbar-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    * {
      margin: 0 20px;
    }

    #toolbar-title {
      text-decoration: none;
      font-family: "BRANCH";
      font-size: $toolbarFontSize;
      color: $primary;
    }

    #toolbar-btn-langs {
      margin-left: auto;
      font-size: $toolbarFontSize;
      font-family: "futura";
      color: $primary;
      * {
        font-family: "futura";
        font-size: $toolbarFontSize;
        color: $primary;
      }
    }
  }
}

#toolbar::after {
  content: "";
  width: 100dvw;
  position: relative;
  top: 15px;
  height: 5px;
  background-color: white;
}

#sidebar {
  height: auto;
  margin-top: 150px;
  padding: 50px 50px 50px 150px;
  .MuiPaper-root {
    -webkit-mask-image: radial-gradient(
        circle 50px at -10px 5px,
        transparent 49px,
        white 51px
      ),
      /* верхний вырез опущен на 15px */
        radial-gradient(
          circle 50px at -10px calc(100% - 5px),
          transparent 49px,
          white 51px
        );
    /* нижний вырез поднят на 15px */
    -webkit-mask-composite: source-in;
    mask-image: radial-gradient(
        circle 50px at -10px 5px,
        transparent 49px,
        white 51px
      ),
      radial-gradient(
        circle 50px at -10px calc(100% - 5px),
        transparent 49px,
        white 51px
      );
    mask-composite: intersect;
  }
  .sidebar-options {
    color: $primary;
    font-size: 5rem;
    font-family: "uni_heavy";
    text-decoration: none;
    text-align: end;
  }
}

.pageTitle {
  background-color: $red;
  position: fixed;
  padding: 30px 90px;
  color: white;
  width: 500px;
  text-align: center;
  top: 300px;
  z-index: 1000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: default;
  box-shadow: 8px 8px 40px black;
}

#contentExpositions {
  margin-left: auto;
  margin-top: 40px;
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transform: rotate(180deg);

  * {
    text-decoration: none;
  }

  figure {
    padding: 10px;
    padding-top: 10px;
    width: auto;
    height: 310px;
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 200px;
      height: 250px;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
      border: 2px white solid;
      max-width: 200px;
      transition: 0.3s;
    }

    figcaption {
      margin-top: 5px;
      color: white;
      display: flex;
      transition: 0.3s;
      align-self: flex-start;
      font-family: "GOTHIC";
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;

      .strong {
        font-family: "GOTHICB";
        display: inline;
      }
    }
  }
  figure:hover {
    background-color: white;
    box-shadow: 5px 5px 15px black;
    figcaption {
      color: black;
    }
    img {
      box-shadow: 5px 5px 15px black;
    }
  }
}

#contentExpositions > * {
  direction: ltr;
  transform: rotate(180deg);
}

#contentSuppport {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 80px 50px 0 auto;

  #citate_text {
    padding: 5px;
  }
  #citate_author {
    align-self: end;
  }

  .btnTwint {
    display: flex;
    flex-direction: column;
    figcaption {
      display: flex;
      flex-direction: column;
      font-family: "ANTQUAI";
      font-size: 2rem;
      color: white;
      * {
        margin: 30px 0;
      }
    }

    input {
      background: white;
      font-size: 1.6rem;
      text-wrap: wrap;
      width: 60%;
      padding: 20px 0;
      border-radius: 10px;
      border: none;
      align-self: center;
      background-size: cover;
      cursor: pointer;
    }
  }

  .support-description {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;

    * {
      font-family: "GOTHIC";
      font-size: 1.5rem;
      margin: 30px 0;
    }
  }
}

#contentDiary {
  display: flex;
  margin-left: auto;
  width: 50%;
  margin-top: 150px;
  flex-wrap: wrap;

  .diary-one-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px;

    .diary-month {
      color: white;
      font-family: "GOTHIC";
      font-size: 2rem;
      margin-bottom: 20px;
    }
    .diary-day {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $red;
      font-family: "uni_heavy";
      font-size: 4rem;
      background-color: white;
      border-radius: 50%;
      height: 7rem;
      width: 7rem;
      margin-bottom: 10px;
    }
    .diary-title {
      font-size: 0.9rem;
      color: white;
      font-family: "uni_heavy";
    }
  }
}

#about-title {
  font-family: "uni_heavy";
  font-size: 3.5rem;
  color: white;
  margin: 200px 0 100px 0;
  cursor: default;
  width: 30%;
  margin-left: auto;

  &::after {
    display: block;
    content: "";
    height: 4px;
    background-color: white;
    width: 100%;
    position: relative;
  }
}

.about-box-carousel {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  .about-carousel-item {
    margin: 0px;
  }
}

.about-carousel {
  .about-box-member {
    figure {
      width: auto;
      height: 310px;
      border-radius: 10px;
      transition: 0.3s;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 200px;
        height: 250px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        border: 2px white solid;
        transition: 0.3s;
      }

      figcaption {
        cursor: default;
        text-align: center;
        margin-top: 5px;
        color: white;
        transition: 0.3s;
        font-family: "GOTHIC";
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;

        .strong {
          font-family: "GOTHICB";
          display: inline;
        }
      }
    }
  }
}

#about-info {
  .about-box-info {
    color: white;
    display: flex;
    flex-direction: column;
  }
}

.about-box-info {
  width: 55%;
  margin-left: auto;
  text-align: justify;

  .about-section-title {
    font-family: "GOTHIC";
    text-align: end;
    padding: 30px;
    margin-right: 50px;
    font-size: 2.4rem;

    &::after {
      display: block;
      content: "";
      height: 2px;
      background-color: white;
      width: 100%;
      position: relative;
      margin-top: 8px;
    }
  }

  .about-pd {
    position: relative;
    margin-bottom: 10px;
    font-family: "GOTHIC";
  }
}

#contentExposition {
  width: 100%;
  color: white;
  display: flex;
}

.exposition-text-box {
  position: absolute;
  width: 50%;
  left: 50%;
  margin-top: 50px;

  .exposition-title {
    font-family: "uni_heavy";
    font-size: 3.5rem;
    color: white;
    cursor: default;
    margin-left: auto;

    &::after {
      display: block;
      content: "";
      height: 4px;
      background-color: white;
      width: 100%;
      position: relative;
    }
  }

  .exposition-date {
    font-family: "GOTHICB";
    margin: 20px 0;
  }

  .exposition-genre,
  .exposition-place,
  .exposition-text,
  .exposition-title-of-list,
  li {
    font-family: "GOTHIC";
  }

  li {
    margin: 10px 0;
  }

  iframe {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: 30px 0;
  }
}

.exposition-carousel-container {
  width: 40%;
  margin: 20px;

  figure {
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: auto;
      height: 510px;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
      border: 2px white solid;
      transition: 0.3s;
    }
  }
}

footer {
  height: 140px;
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 15px;
  }

  #sidebar {
    padding: 80px 0;
    margin-top: 200px;

    .sidebar-options {
      font-size: 3.6rem;
    }
  }

  #sidebarBtn {
    img {
      width: 25px;
      height: 25px;
      object-fit: cover;
      object-position: center;
    }
  }

  #contentExposition,
  #contentDiary,
  #contentSuppport,
  #contentExpositions {
    margin: 0;
  }

  #contentExpositions {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  #contentSuppport {
    width: 100%;
  }

  #contentDiary {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #about-title {
    margin: 0;
    text-align: center;
    width: 100dvw;
  }

  .about-box-info {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .about-section-title {
    width: 100%;
  }

  .about-box-member {
    figure {
      height: 260px;
      img {
        width: 150px;
        height: 200px;
      }
    }
  }

  #toolbar {
    width: 100dvw;
    #toolbar-items {
      align-items: center;
      #toolbar-title {
        align-self: center;
      }

      #sidebarBtn {
        align-self: start;
        margin: 0;
        padding: 0;
        top: 80px;
        right: 10px;
        background-color: white;
        padding: 10px;
        z-index: 1002;
        position: absolute;
        border-radius: 50px;
      }
      #toolbar-btn-langs {
        margin: 0;
        font-size: 1rem;
        * {
          font-size: 1rem;
        }
      }
    }
  }

  #contentExposition {
    flex-direction: column;
    margin: 0;
    .exposition-carousel-container,
    .exposition-text-box {
      position: inherit;
    }
    .exposition-carousel-container {
      margin: 0;
      width: 100%;

      img {
        height: 400px;
      }
    }

    .exposition-text-box {
      width: 90%;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
    }

    .exposition-title {
      width: 100%;
      text-align: start;
      margin: 0;
    }
  }

  .pageTitle {
    display: none;
  }
}
